<li [class.completed]="todo.completado" [class.editing]="editando">
    <div class="view">
        <input  class="toggle" 
                type="checkbox"
                [formControl]="chkCompletado">
        <label (dblclick)="editar()" >{{todo.texto}}</label>
        <button class="destroy" (click)="eliminarItem()"></button>
    </div>
    <!-- El blur  dispara  en  evento  cuando  el usuario quita el focus del campo editandose -->
    <input class="edit" 
            type="text"
            [formControl]="txtInput"
            (blur)="terminarEdicion()"
            #inputFisico>
</li>
